<h1>FranchiseTonAvenir#index</h1>
<p>Find me in app/views/franchise_ton_avenir/index.html.erb</p>



<tr>
  <th>Nom</th>
  <th>Prenom</th>
  <th>Description</th>
  <th>Adresse</th>
  <th>Mail</th>
  <th>Telefix</th>
  <th>Telmob</th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% @franchises.each do |franchise| %>
  <tr>
	
    <td><%= franchise.nom %></td>
    <td><%= franchise.prenom %></td>
    <td><%= franchise.description %></td>
    <td><%= franchise.adresse %></td>
    <td><%= franchise.mail %></td>
    <td><%= franchise.telefix %></td>
    <td><%= franchise.telmob %></td>
	<%= image_tag franchise.photo.url %></br>
	
    <td><%= link_to 'Show', franchise %></td>
<% end %>
</table>
