<h1>Listing inscriptionprepaconcours</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Mail</th>
    <th>Telephone</th>
    <th>Sectionbac</th>
    <th>Concoursenvisages</th>
    <th>Message</th>
    <th>Prepaconcoursid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inscriptionprepaconcours.each do |inscriptionprepaconcour| %>
  <tr>
    <td><%= inscriptionprepaconcour.nom %></td>
    <td><%= inscriptionprepaconcour.prenom %></td>
    <td><%= inscriptionprepaconcour.mail %></td>
    <td><%= inscriptionprepaconcour.telephone %></td>
    <td><%= inscriptionprepaconcour.sectionbac %></td>
    <td><%= inscriptionprepaconcour.concoursenvisages %></td>
    <td><%= inscriptionprepaconcour.message %></td>
    <td><%= inscriptionprepaconcour.prepaconcoursid %></td>
    <td><%= link_to 'Show', inscriptionprepaconcour %></td>
    <td><%= link_to 'Edit', edit_inscriptionprepaconcour_path(inscriptionprepaconcour) %></td>
    <td><%= link_to 'Destroy', inscriptionprepaconcour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inscriptionprepaconcour', new_inscriptionprepaconcour_path %>
