<h1>Listing article_presses</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Journal</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @article_presses.each do |article_press| %>
  <tr>
    <td><%= article_press.titre %></td>
    <td><%= article_press.journal %></td>
    <td><%= article_press.date %></td>
    <td><%= article_press.description %></td>
    <td><%= link_to 'Show', article_press %></td>
    <td><%= link_to 'Edit', edit_article_press_path(article_press) %></td>
    <td><%= link_to 'Destroy', article_press, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article press', new_article_press_path %>
