<%= form_for(@etape) do |f| %>
  <% if @etape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etape.errors.count, "error") %> prohibited this etape from being saved:</h2>

      <ul>
      <% @etape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
