<%= form_for(@baniere) do |f| %>
  <% if @baniere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baniere.errors.count, "error") %> prohibited this baniere from being saved:</h2>

      <ul>
      <% @baniere.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
	<div>  
	<%= f.label :photo %><br />
    <%= f.file_field :photo %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
