<h1>Listing banieres</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banieres.each do |baniere| %>
  <tr>
    <td><%= baniere.titre %></td>
    <td><%= baniere.description %></td>
    <td><%= link_to 'Show', baniere %></td>
    <td><%= link_to 'Edit', edit_baniere_path(baniere) %></td>
    <td><%= link_to 'Destroy', baniere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Baniere', new_baniere_path %>
