<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @baniere.titre %>
</p>

<p>
  <b>Description:</b>
  <%= @baniere.description %>
</p>
<%= image_tag @baniere.photo.url %></br>


<%= link_to 'Edit', edit_baniere_path(@baniere) %> |
<%= link_to 'Back', banieres_path %>
